// The dashboard for Lecturers/Admins

- content_for :title, "Home"

.jumbotron.mb-3
    %h1.display-5 Admin/Lecturer Dashboard

 
%table
    %thead
        %tr
            %th Session Title
            %th Session Code
            %th Session ID
            %th
            %th

    %tbody
        - TimetabledSession.all.each do |timetabled_session|
            %tr
                %td= timetabled_session.session_title
                %td= timetabled_session.session_code
                %td= timetabled_session.id 
                %td= SessionAttendance.where(timetabled_session_id: timetabled_session.id).ids         
                %td= link_to 'Show Code', timetabled_session 
                %td /
                %td= link_to 'Edit', edit_timetabled_session_path(timetabled_session)
                %td /
                - if SessionAttendance.where(timetabled_session_id: timetabled_session.id).ids != []
                    %td= link_to 'Attendance', session_attendance_path(SessionAttendance.where(timetabled_session_id: timetabled_session.id).ids)
                    %td /
                %td= link_to 'Delete', timetabled_session, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Session', new_timetabled_session_path