// The dashboard for Lecturers/Admins

- content_for :title, "Home"

//New button
.py-2
    %a.btn.btn-success{:href => new_timetabled_session_path}
        New Session


%nav
    %ul.pagination.justify-content-center
        %li.page-item
            %a.page-link{:href => "#{admin_path}?week=#{@week-1}"}
                %span
                    = icon "fas", "chevron-left"
        %li.page-item.dropdown
            %a.page-link.dropdown-toggle{"role" => "button", "data-toggle" => "dropdown", "data-target" => "#", "data-display" => "static"} 
                = "#{@week_start.strftime('%B')} #{@week_start.day} - #{@week_end.strftime('%B') if @week_start.month < @week_end.month} #{@week_end.day}"
                %b.caret
            %ul.dropdown-menu{"role" => "menu", "class" => "p-0"}
                %li.page-item
                - 3.downto(-3).each do |offset|
                    %a.page-link{:href => "#{admin_path}?week=#{@week+offset}"} 
                        - @start = @week_start-offset.week
                        - @end = @week_end-offset.week
                        - if offset == 0
                            Current Week
                        - else
                            = "#{@start.strftime('%B')} #{@start.day} - #{@end.strftime('%B') if @start.month < @end.month} #{@end.day}"
        %li.page-item
            %a.page-link{:href => "#{admin_path}?week=#{@week+1}"}
                %span
                    = icon "fas", "chevron-right"
        
    
%h1
    Sessions
%hr

#accordians.py-5
    -if @sessions.empty?
        %center.alert.alert-warning There are no timetabled sessions.
    -else
        = render :partial => "components/week-view", locals: {sessions: @sessions}



    
