// The dashboard for Lecturers/Admins

- content_for :title, "Home"

.jumbotron.mb-3
    %h1.display-5 Admin/Lecturer Dashboard

%h1 Listing timetabled_sessions

%table
    %thead
        %tr
            %th ID
            %th Session Title
            %th Session Code
            %th
            %th
            %th

    %tbody
        - TimetabledSession.all.each do |timetabled_session|
            %tr
                %td= timetabled_session.id
                %td= timetabled_session.session_title
                %td= timetabled_session.session_code
                %td= link_to 'Show Code', timetabled_session

%br

= link_to 'New Session', new_timetabled_session_path