%h1 Listing session_registered_lecturers

%table
  %thead
    %tr
      %th Timetabled session
      %th User
      %th
      %th
      %th

  %tbody
    - @session_registered_lecturers.each do |session_registered_lecturer|
      %tr
        %td= session_registered_lecturer.timetabled_session_id
        %td= session_registered_lecturer.user_id
        %td= link_to 'Show', session_registered_lecturer
        %td= link_to 'Edit', edit_session_registered_lecturer_path(session_registered_lecturer)
        %td= link_to 'Destroy', session_registered_lecturer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Session registered lecturer', new_session_registered_lecturer_path
