// The dashboard for Students

- content_for :title, "Enter Code"


.w-100.text-center
  %h1.display-4 
    Enter Code
  %p
    Here you can enter the code and join an existing session

%hr.mb-4


#codeInput.col-md-6.col-lg-5.mx-auto.px-0
  - # QR-CODE hidden input
  %input{:type=>"hidden", :value=>@qrcode, :name=>"qrcodeValue", :id=>"qrcodeValue"}

  .input-group.input-group-lg
    - (1..8).each do |i|
      %input.form-control.text-center.code-box.p-0{"maxlength"=>"1", "name": "code-#{i}"}


  .mt-3.d-flex.justify-content-center
    .col.col-md-4 
      %button#pasteButton.btn.btn-light-blue.btn-sm.btn-block
        Paste 
    .col.col-md-4 
      %button#clearButton.btn.btn-light-pink.btn-sm.btn-block
        Clear  

  .mt-4
    - # Spinny boi
    #loadingIcon.alert.text-center.d-none
      .spinner-border

    - # Valid code
    #validCode.alert.text-center.boxy{"style"=>"display: none;"}

      - # Session name
      %h3.alert-heading.font-weight-light
        #SessionNameField 
      %hr

      - # For error messages
      #errorSection.alert.alert-warning.mt-4{"style"=>"display: none"}

      - # Icons with time etc
      .d-inline-block.my-3
        .d-inline-block.p-2
          %span.text-muted
            = icon "fas", "calendar"
          %span#SessionDateField
        .d-inline-block.p-2
          %span.text-muted
            = icon "fas", "clock"
          %span#SessionTimeField
     
      - # Submit button
      #submitSection.mt-2.mb-1
        = simple_form_for 'session_code', url: "/student/attend", method: :post do |f|
          = f.input :session_code, :as => :hidden, :input_html => {:id => "SessionHiddenField" }
          %button.btn.btn-success.w-100{"type" => "submit", "name" => "sign-in"}
            Sign In

    - # Invalid code
    #invalidCode.alert.alert-danger.text-center{"style"=>"display: none;"}
      %h5.alert-heading.text-danger.mb-0
        No session found with that code
               
= javascript_include_tag "check-student-input"