- content_for :title, "History"
%h1 History 
%hr

%nav
    %ul.pagination.justify-content-center
        %li.page-item
            %a.page-link{:href => "#{student_history_path}?week=#{@week-1}"}
                %span
                    = icon "fas", "chevron-left"
        %li.page-item
            %a.page-link{:href => "#{student_history_path}?week=#{@week}"}
                - if @week_start.month == @week_end.month
                    = "#{@week_start.strftime('%B')} #{@week_start.day} - #{@week_end.day}"
                - else
                    = "#{@week_start.strftime('%B')} #{@week_start.day} - #{@week_end.strftime('%B')} #{@week_end.day}"

        %li.page-item{:class => ('disabled' if @week == 0)}
            %a.page-link{:href => "#{student_history_path}?week=#{@week+(@week < 0 ? 1 : 0)}"}
                %span
                    = icon "fas", "chevron-right"

#accordians.py-5
    - if @history.empty?
        %center.alert.alert-warning You have not attended any sessions.
    - else
        = render :partial => "components/week-view", locals: {sessions: @history}
