- content_for :title, "History"
%h1 History 
%hr

#accordian.py-5
    - if @history.nil?
        %center
        %p You have not attended any sessions.
    - else
        %nav{"aria-label" => "..."}
        %ul.pagination
            %li.page-item{:class => ("disabled" if @page == 0)}
                %a.page-link{:href => "#{student_history_path}?offset=#{@offset-@limit}", :tabindex => "-1"} Previous
            - (0..(@count/@limit)-1).each do |page|
                %li.page-item{:class => ("active" if page == @page)}
                    %a.page-link{:href => "#{student_history_path}?offset=#{page*@limit}"}
                        = page+1
            %li.page-item{:class => ("disabled" if @page == (@count/@limit-1))}
                %a.page-link{:href => "#{student_history_path}?offset=#{@offset+@limit}"} Next
        - @history.each do |timetabled_session|
            = render :partial => "components/accordian-card", locals: {session: timetabled_session}