- content_for :title, "History"
%h1 History 
%hr

%nav
    %ul.pagination.justify-content-center
        %li.page-item
            %a.page-link{"href" => "#{admin_path}?week=#{@week-1}"}
                %span
                    = icon "fas", "chevron-left"
        %li.page-item
            %a.page-link{"href" => "#{admin_path}?week=#{@week}"}
                - if @week_start.month == @week_end.month
                    = "#{@week_start.strftime('%B')} #{@week_start.day} - #{@week_end.day}"
                - else
                    = "#{@week_start.strftime('%B')} #{@week_start.day} - #{@week_end.strftime('%B')} #{@week_end.day}"


        %li.page-item
            %a.page-link{"href" => "#{student_path}?week=#{@week+1}", :class => ("disabled" if @week == 0)}}
                %span
                    = icon "fas", "chevron-right"

#accordians.py-5
    - if @history.empty?
        %center.alert.alert-warning You have not attended any sessions.
    - else
        %nav{"aria-label" => "..."}
        %ul.pagination
            %li.page-item{:class => ("disabled" if @page == 0)}
                %a.page-link{:href => "#{student_history_path}?offset=#{@offset-@limit}", :tabindex => "-1"} Previous
            - (0..(@count/@limit)-1).each do |page|
                %li.page-item{:class => ("active" if page == @page)}
                    %a.page-link{:href => "#{student_history_path}?offset=#{page*@limit}"}
                        = page+1
            %li.page-item{:class => ("disabled" if @page == (@count/@limit-1))}
                %a.page-link{:href => "#{student_history_path}?offset=#{@offset+@limit}"} Next
        = render :partial => "components/week-view", locals: {sessions: @history}
