-# The accordian card component
-# The variable used here is "session"
#accordian
  .card
    %a.card-header.py-3{"style" => "cursor: pointer;","data-toggle" => "collapse", "data-target" => "#collapse-#{session.id}"}
      %h5.mb-0.text-secondary
        = session.session_title
          
        

    .collapse.show{:id => "collapse-#{session.id}"}
      .card-body
        
        .container
          .row
            /Left side
            .col-md-6
              %table.table.borderless
                %tbody

                  /Session Date
                  %tr                      
                    %th
                      %span.mr-2.text-muted
                        = icon "fas", "calendar"
                      Date
                    %td
                      = session.start_time.strftime('%d/%m/%Y')

                  /Session Time
                  %tr                     
                    %th
                      %span.mr-2.text-muted
                        = icon "fas", "hourglass-start"
                      Start
                    %td
                      = session.start_time.to_s(:time)

                  /End Time
                  %tr                      
                    %th
                      %span.mr-2.text-muted
                        = icon "fas", "hourglass-end"
                      End
                    %td
                      = session.end_time.to_s(:time)

            /Right Side
            .col-md-6
              %table.table.borderless
                %thead
                  %tr
                    %th.text-center
                      %span.mr-2.text-muted
                        = icon "fas", "graduation-cap"
                      Lecturers                      
                %tbody
                  /Lecturer (for loop will go here)
                  %tr
                  - session.session_registered_lecturers.each do |lecturer|
                    %tr
                      %td= lecturer.user.email
                  
                    
        - if current_user.lecturer? or current_user.admin?
          /Bottom Bar
          .mt-3.container
            .row
              .col-lg-6.col-md-8
                .row
                  .col-md-4.py-sm-2
                    %a.btn.btn-outline-primary.btn-block{:href => edit_timetabled_session_path(session)}
                      Edit
                  .col-md-4.py-sm-2
                    %a.btn.btn-primary.btn-block{:href => timetabled_session_path(session)}
                      Show Code
                  .col-md-4.py-sm-2 
                    %a.btn.btn-primary.btn-block{:href => session_attendance_path(session.id)}
                      Attendance
                  .col-md-4.py-sm-2 
                    = link_to 'Delete', session, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-block'
          
          
          
    
          
        

