-# The accordian card component
-# The variable used here is "session"
#accordian
  .card
    .card-header
      %h5.mb-0
        %button.btn.btn-link{"data-toggle" => "collapse", "data-target" => "##{session.session_title.parameterize}-collapse"}
          = session.session_title
        

    .collapse.show{:id => "#{session.session_title.parameterize}-collapse"}
      .card-body
        
        .container
          .row
            /Left side
            .col-md-6
              %table.table.borderless
                %tbody

                  /Session Date
                  %tr
                    %td
                      %span.mr-2.text-muted
                        = icon "fas", "calendar"
                    %th
                      Date
                    %td
                      = session.start_time.strftime("%d of %B, %Y")

                  /Session Time
                  %tr
                    %td
                      %span.mr-2.text-muted
                        = icon "fas", "clock"
                    %th
                      Time
                    %td
                      = session.start_time.to_s(:time)

                  /Session Code
                  %tr
                    %td
                      %span.mr-2.text-muted
                        = icon "fas", "hashtag"
                    %th
                      Code
                    %td
                      = session.session_code

            /Right Side
            .col-md-6
              %table.table.borderless
                %tbody
                  /Lecturer (for loop will go here)
                  %tr
                    %td
                      %span.mr-2.text-muted
                        = icon "fas", "graduation-cap"
                    %th
                      Lecturer Name

        /Bottom Bar
        .mt-3.container
          .row
            .col-md-6
              .row
                .col-md-6.py-sm-2
                  %a.btn.btn-outline-primary.btn-block{:href => edit_timetabled_session_path(session)}
                    Edit
                .col-md-6.py-sm-2
                  %a.btn.btn-primary.btn-block{:href => session}
                    Show Code
          
          
          
    
          
        

