%nav#main-nav.navbar.navbar-light.bg-light.navbar-expand-lg.fixed-top
  .container
    .navbar-header
      = link_to :root, class: 'navbar-brand hidden-sm' do
        = image_tag "logo.svg", height: "28"
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar-content
      %ul.nav.navbar-nav
        = navbar_link_to :root, title: "Go to the home page", identifier: :home do
          = icon 'fas', 'home'
          Home
      - if user_signed_in?
        %ul.nav.navbar-nav.ml-auto
          %li.nav-item.dropdown
            = link_to '#', aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link dropdown-toggle', role: 'button' do
              = icon 'fas', 'user', current_user.email
              %b.caret
            .dropdown-menu{ aria: { labelledby: '#navbar-user-link' } }
              = link_to destroy_user_session_path, class: 'dropdown-item', method: :delete, title: "Log out of the system" do
                = icon 'fas', 'sign-out-alt', 'Log out'