
-# The page to manage users

- content_for :title, "Manage Users"

%nav.mb-3
    %ol.breadcrumb.bg-white.pl-0
        %li.breadcrumb-item
            %a{"href"=> "/"} Dashboard
        %li.breadcrumb-item.active
            Manage


.w-100
    %h1.display-4 
        Manage Users
    %p
        Here you can manage user roles, you can convert lecturers to admins and vice versa.

%hr.mb-3


.row
    .col-md-6
        //Admin Table
        %h4.mt-5.mb-3 Admins
        - if @admins.empty?
            .alert.alert-light.text-center No admins to display
        - else
            .table-responsive
                %table.table.table-striped
                    %thead
                        %tr
                            %th Name
                            %th{"colspan" => "2"} Email

                    %tbody
                        - (@admins-[current_user]).each do |admin|
                            %tr
                                %td
                                    = admin.username
                                %td
                                    = admin.email
                                %td.text-center
                                    = form_tag do
                                        %input{:type=>"hidden", :value=>admin.id, :name=>:user_id}
                                        %input{:type=>"hidden", :value=>"lecturer", :name=>:task}
                                        %button.btn.btn-primary.btn-sm{:title => "Make this user a lecturer"}
                                            %span
                                                = icon "fas", "exchange-alt"
    .col-md-6                                      
        //Lecturer Table
        %h4.mt-5.mb-3 Lecturers
        - if @lecturers.empty?
            .alert.alert-light.text-center No lecturers to display
        - else
            .table-responsive
                %table.table.table-striped
                    %thead
                        %tr
                            %th Name
                            %th{"colspan" => "2"} Email

                    %tbody
                        - @lecturers.each do |lecturer|
                            %tr
                                %td
                                    = lecturer.username 
                                %td
                                    = lecturer.email
                                %td.text-center
                                    = form_tag do
                                        %input{:type=>"hidden", :value=>lecturer.id, :name=>:user_id}
                                        %input{:type=>"hidden", :value=>"admin", :name=>:task}
                                        %button.btn.btn-primary.btn-sm{:title => "Make this user an admin"}
                                            %span
                                                = icon "fas", "exchange-alt"