-# frozen_string_literal: true

- start_time = @timetabled_session.start_time || Time.now
- end_time = @timetabled_session.end_time || Time.now+30.minutes

= simple_form_for(@timetabled_session) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
 
  .form-inputs
    .row
      .col-md-6
        = f.input :session_title, placeholder: "New Session"
      .col-md-6
        = f.input :module_code, placeholder: "COM123"

    = f.hidden_field :start_time, id: 'start_time'
    = f.hidden_field :end_time, id: 'end_time'

    .row
      .col-md-6
        .form-group
          %label{:for => "date_picker"}
            Date
            %abbr{:title => "required"} *
          %input.form-control{:type => "date", :value => start_time.utc.strftime('%Y-%m-%d'), id: 'date_picker', class: 'datepicker required' ,placeholder: "Y-M-D"}
      .col-md-3
        .form-group
          %label{:for => "start_time_picker"}
            Start Time
            %abbr{:title => "required"} *
          %input.form-control{:type => "time", :value => start_time.utc.strftime('%H:%M'), id: 'start_time_picker', class: 'timepicker required' ,placeholder: "H:M"}
      .col-md-3
        .form-group
          %label{:for => "end_time_picker"}
            End Time
            %abbr{:title => "required"} *
          %input.form-control{:type => "time", :value => end_time.utc.strftime('%H:%M'), id: 'end_time_picker', class: 'timepicker required',placeholder: "H:M"}

    %label Registered Lecturers
    - unless f.object.registrees.empty?
      = f.simple_fields_for :session_registered_lecturers do |lecturer|
        = render 'session_registered_lecturer_fields', f: lecturer
    .links
      = link_to_add_association 'Register Lecturer', f, :session_registered_lecturers, class: 'btn btn-outline-primary mb-2'

  #addedLecturers.mb-5.mt-2

  
  .form-actions
    = f.button :submit, class: "btn btn-primary"

- # Javascript sets the hidden start and end time fields according to custom date and time inputs
:javascript
  $(document).ready( function() {
    const start = $("#start_time_picker");
    const end = $("#end_time_picker");
    const date = $("#date_picker");

    date.on('change', function(){
      start.change()
      end.change()
    })

    start.on('change', function(){
      $('#start_time').val(moment(date.val()+'T'+start.val()).utc().format("YYYY-MM-DDTHH:mm"));
    })

    end.on('change', function(){
      $('#end_time').val(moment(date.val()+'T'+end.val()).utc().format("YYYY-MM-DDTHH:mm"));
    })
    
    start.val(moment.utc(date.val()+'T'+start.val()).local().format("HH:mm"));
    end.val(moment.utc(date.val()+'T'+end.val()).local().format("HH:mm"));
    start.change()
    end.change()

  });