-# frozen_string_literal: true
= simple_form_for(@timetabled_session) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
 
  .form-inputs
    -#= f.input :session_code
    = f.input :session_title
    = f.input :module_code
    = f.datetime_local_field :start_time, id: 'start', :value => Time.now.localtime.strftime('%Y-%m-%dT%H:%M'), class: 'datetimepicker'
    = f.datetime_local_field :end_time, id: 'end', :value => (Time.now.localtime+30.minutes).strftime('%Y-%m-%dT%H:%M'), class: 'datetimepicker'

    #lecturers
    .h4.mt-2 Register Lecturers
    = f.simple_fields_for :session_registered_lecturers do |lecturer|
      = render 'session_registered_lecturer_fields', f: lecturer
    .links
      = link_to_add_association 'Register lecturer', f, :session_registered_lecturers, class: 'btn btn-outline-primary mb-2'

  #addedLecturers.mb-5.mt-2


  .form-actions
    = f.button :submit, class: "btn btn-primary"
