-# frozen_string_literal: true
= simple_form_for(@timetabled_session) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    -#= f.input :session_code
    = f.input :session_title
    = f.input :module_code
    = f.input :start_time, as: :date_time_picker, input_html: { data:{date_format: "YYYY.MM.DD hh:mm A",date_day_view_header_format: 'MMM YYYY',date_side_by_side: true,date_min_date: Time.current.strftime('%Y-%m-%d')}}
    = f.input :end_time, as: :date_time_picker, input_html: { data:{date_format: "YYYY.MM.DD hh:mm A",date_day_view_header_format: 'MMM YYYY',date_side_by_side: true,date_min_date: Time.current.strftime('%Y-%m-%d')}}


    #lecturers
    .h4.mt-2 Register Lecturers
    = f.simple_fields_for :session_registered_lecturers do |lecturer|
      = render 'session_registered_lecturer_fields', f: lecturer
    .links
      = link_to_add_association 'Register lecturer', f, :session_registered_lecturers, class: 'btn btn-outline-primary mb-2'

  #addedLecturers.mb-5.mt-2


  .form-actions
    = f.button :submit, class: "btn btn-primary"
