
- content_for :title, @timetabled_session.session_title

%nav.mb-3
  %ol.breadcrumb.bg-white.pl-0
    %li.breadcrumb-item
      %a{"href"=> "/"} Dashboard
    %li.breadcrumb-item.active
      =@timetabled_session.session_title

.w-100
  %h1.display-4 
    = @timetabled_session.session_title
  %p
    Here you can present your session code and see students that join the session

%hr


-# Details

.row
  .col-md-6.col-12
    %table.table.borderless
      %tbody
        /Module Code
        %tr                      
          %th
            %span.mr-2.text-muted
              = icon "fas", "font"
            Module
          %td
            = @timetabled_session.module_code

        /Session Date
        %tr                      
          %th
            %span.mr-2.text-muted
              = icon "fas", "calendar"
            Date
          %td
            = @timetabled_session.start_time.strftime('%d/%m/%Y')
  .col-md-6.col-12
    %table.table.borderless
      %tbody
        /Session Time
        %tr                     
          %th
            %span.mr-2.text-muted
              = icon "fas", "hourglass-start"
            Start
          %td
            = local_time(@timetabled_session.start_time, format: '%H:%M')

        /End Time
        %tr                      
          %th
            %span.mr-2.text-muted
              = icon "fas", "hourglass-end"
            End
          %td
            = local_time(@timetabled_session.end_time, format: '%H:%M')
  

.w-100.text-center
  .py-4.rounded-top.mt-3{"style" => "background-color: #f5f5f5;"}
    .row.align-items-center
      .col

        %h6
          Enter code
        %h2
          %b 
            = @timetabled_session.session_code
      .col
        %img{:src => "https://api.qrserver.com/v1/create-qr-code/?size=150x150&&data=#{@url}"}
  
    %hr.mt-3
    .py-4
      %h6 Joined
      %p.h2.text-primary
        %span#studentCounter{"code"=>@timetabled_session.id}
          = @timetabled_session.session_attendances.count
        
= javascript_include_tag "check-joining-students"
