%h1
  %b= @timetabled_session.session_title
%p
  %b Module code:
  = @timetabled_session.module_code
%p
  %b Date:
  = @timetabled_session.start_time.strftime("%d/%m/%Y")
%p
  %b Start Time:
  = @timetabled_session.start_time.strftime("%R")
%p
  %b End Time:
  = @timetabled_session.end_time.strftime('%R')
%p
  %center
    %b Enter code: 
    %br
    %h1= @timetabled_session.session_code
    %b.mt-5 QR Code
    %br
    %img{:src => "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=#{@url}"}

- if current_user.lecturer?
  = button_to 'Back', lecturer_url, :method => :get
- if current_user.admin?
  = button_to 'Back', admin_url, :method => :get
