%p#notice= notice

%p
  %b Session title:
  = @timetabled_session.session_title
%p
  %b Module code:
  = @timetabled_session.module_code
%p
  %b Session code:
  = @timetabled_session.session_code

= link_to 'Back', lecturer_path
