%h1 Listing session_attendances


%table
  %thead
    %tr
      %th Joined at
      %th
      %th
      %th

  %tbody
    - @session_attendances.each do |session_attendance|
      %tr
        %td= session_attendance.joined_at
        %td= link_to 'Show', session_attendance
        %td= link_to 'Edit', edit_session_attendance_path(session_attendance)
        %td= link_to 'Destroy', session_attendance, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Session attendance', new_session_attendance_path
