%h1= @timetabled_session.session_title
%p Module Code : #{@timetabled_session.module_code}
%p Date : #{@timetabled_session.start_time.strftime('%d/%m/%Y')}

%table
  %thead
    %tr
      %th Name
      %th Surname
      %th Username 
      %th Email
      %th Sign In Time
      %th
      %th
      %th

  %tbody
    - @timetabled_session.session_attendances.each do |session|
      %tr
        %td= session.user.givenname
        %td= session.user.sn
        %td= session.user.username
        %td= session.user.email
        %td= session.created_at
        %td= link_to 'Show', session
        %td= link_to 'Edit', edit_session_attendance_path(session)
        %td= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' }
%br

- if current_user.lecturer?
  = button_to 'Back', lecturer_url, :method => :get
- if current_user.admin?
  = button_to 'Back', admin_url, :method => :get