- content_for :title, "Session Attendance"

%nav.mb-3
  %ol.breadcrumb.bg-white.pl-0
    %li.breadcrumb-item
      %a{"href"=> "/"} Dashboard
    %li.breadcrumb-item.active
      Attendance

.w-100
  %h1.display-4 
    =@timetabled_session.session_title
  %p
    Here you can view the attendance for a session

%hr

-# Details
.col-md-6.my-2.p-0
  %table.table.borderless
    %tbody

      /Module Code
      %tr                      
        %th
          %span.mr-2.text-muted
            = icon "fas", "font"
          Module
        %td
          = @timetabled_session.module_code

      /Session Date
      %tr                      
        %th
          %span.mr-2.text-muted
            = icon "fas", "calendar"
          Date
        %td
          = @timetabled_session.start_time.strftime('%d/%m/%Y')

      /Session Time
      %tr                      
        %th
          %span.mr-2.text-muted
            = icon "fas", "clock"
          Time
        %td
          = @timetabled_session.start_time.strftime('%R')
          to
          = @timetabled_session.end_time.strftime('%R')

%table.table
  %thead
    %tr
      %th Name
      %th Surname
      %th Username 
      %th Email
      %th Sign In Time
      %th
      %th
      %th

  %tbody
    - @timetabled_session.session_attendances.each do |session|
      %tr
        %td= session.user.givenname
        %td= session.user.sn
        %td= session.user.username
        %td= session.user.email
        %td= session.created_at.strftime("%R")
%br