%h1= @session_attendance.timetabled_session.session_title
%p Module Code : #{@session_attendance.timetabled_session.module_code}
%p Date : #{@session_attendance.timetabled_session.start_time.strftime('%d/%m/%Y')}
  
%table
  %thead
    %tr
      %th Name
      %th Surname
      %th Username 
      %th Email
      %th Sign In Time
      %th

  %tbody
    - @session_attendance.user do |user|
      %tr
        %td= user.givenname
        %td= user.sn
        %td= user.username
        %td= user.email
        %td= @session_attendance.created_at.strftime('%X')
%br

- if current_user.lecturer?
  = button_to 'Back', lecturer_url, :method => :get
- if current_user.admin?
  = button_to 'Back', admin_url, :method => :get