%h1
  Attendance
  
%table
  %thead
    %tr
      %th Name
      %th Username 
      %th Email
      %th Sign In Time
      %th
      %th

  %tbody
    - User.where(id: SessionAttendance.select(:user_id)).all.each do |user|
      %tr
        %td= user.givenname
        %td= user.username
        %td= user.email
        %td= @session_attendance.created_at.strftime('%X')
%br
  


= link_to 'Back', lecturer_path
