//Default layout for our application

= content_for :head do
  = render "components/navbar" 

= content_for :main do
  = yield

= content_for :foot do
  .container
    .row.align-items-center.pb-4
      .col-2
        %p
          &copy; #{Date.today.year}
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'

      .col-10
        For testing only, quickly change role access
        %a.btn.btn-outline-primary{href: "/set-student"} Student
        %a.btn.btn-outline-success{href: "/set-lecturer"} Lecturer
        %a.btn.btn-outline-danger{href: "/set-admin"} Admin


= render "layouts/master"
      
