//Default layout for our application

= content_for :head do
  = render "components/navbar" 

= content_for :main do
  .mt-4.mb-5
    = yield

= content_for :foot do
  .container
    .row.align-items-center.pb-4
      .col-md-2
        %p
          &copy; #{Date.today.year}
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'

      -# Development only buttons to change role
      - if Rails.env.development?
        .col-md-10.text-center
          .row
            .col-md-3.py-1
              %a.btn.btn-outline-primary.btn-block{href: "/set-student"} Student
            .col-md-3.py-1
              %a.btn.btn-outline-success.btn-block{href: "/set-lecturer"} Lecturer
            .col-md-3.py-1
              %a.btn.btn-outline-danger.btn-block{href: "/set-admin"} Admin


= render "layouts/master"
      
